<p> What type of candy would you like to know more about?  </p>

<%= link_to 'Kit Kat', candy_path(:kit_kat) %>

<%= link_to 'Skittles', candy_path(:skittles) %>

<%= link_to 'M&Ms', candy_path(:m_and_ms) %>

<%= link_to "Hersey's Kiss", candy_path(:herseys_kiss) %>

<%= link_to 'Butterfinger', candy_path(:butterfinger) %>

<%= link_to 'Gummy Bear', candy_path(:gummy_bear) %>

<%= link_to 'Twizzler', candy_path(:twizzler) %>
